# The systemd service for dancetime
[Unit]
Description=Dancetime Service

[Service]
Type=simple
User=dancetime
WorkingDirectory=/home/dancetime/dancetime
ExecStart="/home/dancetime/.local/bin/uv run main.py --output dist"

[Install]
WantedBy=multi-user.target
