beautifulsoup4==4.12.2
certifi==2023.5.7
charset-normalizer==3.1.0
dateparser==1.1.8
flake8==6.0.0
icalendar==5.0.7
idna==3.4
Jinja2==3.1.2
MarkupSafe==2.1.3
mccabe==0.7.0
pycodestyle==2.10.0
pyflakes==3.0.1
python-dateutil==2.8.2
pytz==2023.3
pytz-deprecation-shim==0.1.0.post0
regex==2023.6.3
requests==2.31.0
six==1.16.0
soupsieve==2.4.1
tzdata==2023.2
tzlocal==5.0.1
urllib3==2.0.2
